@import '/public/css/elements.import.less';

@white: #fff;
@black: #414141;
@purple: #e607de;

@gutter: 30px;

@import '/public/css/layout.import.less';
@import '/public/css/type.import.less';
@import '/public/css/work.import.less';
@import '/public/css/landing.import.less';
