html, body {
  overflow-y: auto;
}

.work {
  display: block;
  position: relative;
  .wrapper {
    width: 100%;
    margin: 0 auto;
    height: auto;
  }
  .logo-wrapper {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 60px;
    h1 {
      float: left;
      display: block;
    }
    p {
      color: #969696;
      float: right;
      margin: 13px 0 0 0;
    }
    a {
      color: #969696;
    }
  }
}

.work-items {
  padding-top: @gutter*2;
  color: @black;
  li {
    text-align: center;
    padding-bottom: 0;
    background: #fff;
    img {
      margin: 0 auto;
      max-width: 100%;
      display: block;
      &.dribbble-shot {
        max-width: 400px;
        max-height: 300px;
      }
    }
    &.work-section {
      span.work-title {
        display: block;
        font-size: 1.25rem;
      }
      a.work-url {
        display: block;
        font-size: 0.85rem;
        color: #ff5764;
      }
      span.work-description {
        display: block;
        font-style: italic;
        color: #e5e5e5;
        font-size: 1rem;
      }
    }
  }
  .project-hero {
    background: #f7f7f7;
    padding: 0;
  }
  .help-hub-ephemera {
      background: #E8E8E8;
  }
  .project-title {
    background: #f7f7f7;
    padding: 0 5% 10% 5%;
    h2 {
      font-size: 45px;
      line-hight: 45px;
      font-weight: normal;
      margin: 0 0 0.5% 0;
    }
    h3 {
      color: #969696;
      font-size: 14px;
      font-weight: normal;
    }
    h3 {
      color: #969696;
      font-size: 14px;
      font-weight: normal;
    }
    h4 {
      font-size: 16px;
      font-weight: normal;
      margin: 30px 0 0 0;
    }
    h4 a {
      color: #5E5E5E;
      font-weight: normal;
      display: block;
      max-width: 200px;
      padding: 5px;
      margin: 0 auto;
      border-radius: 20px;
      border: 1px solid #5E5E5E;
      text-decoration: none;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
    }
    h4 a:hover {
      color: #fff;
      background: #5E5E5E;
    }

    p {
      color: #5E5E5E;
      font-size: 16px;
      line-height: 23px;
      max-width: 900px;
      margin: 1% auto;
    }
  }
  .project-logo {
    &.help-hub-logo {
      background: #28C6A8;
    }
    &.data-wallet-logo {
      background: #E0453E;
    }
    &.moodji-moods {
      background: #0AB5DE;
    }
    &.voxeet-logo {
      background: #4280C5;
    }
    &.voxeet-icon {
      background: #F7F7F7;
    }
    &.volley-logo {
      background: #204068;
    }
    &.waggle-logo {
      background: #F83838;
    }
    &.quote-robot-logo {
      background: #26C6CC;
    }
    &.postachio-logo {
      background: #000000;
    }
    &.netgear-icon {
      background: #6D2485;
    }
  }
}
.work-footer {
  color: #969696;
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 0 0 60px 0;
  font-size: 1.5em;
  text-align: center;
  .social-links {
    i, a {
      .opacity(1);
      color: #969696;
      &:hover {
        .opacity(1);
      }
    }
  }
}
@media (min-width: 1441px) {
  .work-items {
  li {
    img {
      max-width: 1441px;
      }
    }
  }
}
